<!DOCTYPE html>
{% load static %}
<html class="hmtlRegister" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link rel="icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">

    <title>Регистрация</title>
</head>
<body>

<div class="registerBody">
<header>
    <h1 class="registration-title">Регистрация</h1>
</header>

<main>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="form-legend">Регистрация</legend>
            {{ reg_form }}
        </fieldset>
        <button type="submit" class="joinBtn">Зарегистрироваться</button>
    </form>
</main>
<div class="footer-link">
        <a href="{% url 'login' %}">Авторизоваться</a>
    </div>
</div>
</body>
</html>